---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---

<style>
  @import url(../styles/hallozine2022.css);
</style>
<BaseLayout darkBG={true}>
  <div class="hallozineoutlet">
    <div class="App-header">
      <a href="/issues/hallozine2022

"><h1>Hallozine 2022</h1></a>
    </div>
    <div>
      <section>
        <br />
        <pre
          style={{
            wordBreak: "normal",
            wordWrap: "normal",
            height: "70vh",
            overflow: "auto",
            whiteSpace: "pre-wrap",
          }}><strong>I went back in time to beat the shit out of my Paleolithic ancestor</strong> because it’s easier to get plutonium or whatever for a time machine than it is to get my rotten wisdom teeth yanked from my gums so instead I’m ripping through spacetime and wailing on my great-great something-something grandpa because I learned Lamarck was right and the giraffes are getting taller from stretching their necks and we’re all fat because the only way peasants survived feudalism was by turning every scrap into golden weight on the bones and here I am inflicting my own generational trauma fists to cheeks until those molars are skidding on limestone blood on ochre building the arch of that cave art auroch with the spray of spittle and yeah I know you need those teeth to grind seeds but I’m from the future babe all we know is the crank of the cogs and your adaptation is holding me back sorry you poor bastard we never beat the predators just built a new one that has too many fangs to shatter.
  </pre>
        <br />
        <br />
        <div style={{ display: "block", textAlign: "center" }}>
          <img
            src="https://web.archive.org/web/20091027072928/http://geocities.com/scareyhalloween/orangeswingshullspider.gif"
            alt="blood skull spider gif"
            style={{
              maxHeight: "200px",
              maxWidth: "200px",
              marginLeft: "5vw",
            }}
          />
        </div>
        <br />
        <br />
         Ashely Adams is a queer swamp-adjacent writer and okay birder. Ask her
        about the weather on twitter <a href="https://twitter.com/weathergoose1"
          >@weathergoose1</a
        >.
        <br />
      </section>
    </div>
  </div>
</BaseLayout>
