---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---

<style>
  @import url(../styles/hallozine2022.css);
</style>
<html lang="en">
  <BaseLayout>
    <div class="hallozineoutlet">
      <div class="App-header">
        <a href="/issues/hallozine2022

"><h1>Hallozine 2022</h1></a>
      </div>
      <div>
        <section>
          <pre>
<iframe src="https://drive.google.com/file/d/1Xw9Q9sW4TDOysDnwTNKEDVtvdRX0JqsU/preview" width="100%" height="1500px" allow="autoplay" />
          </pre>
          <br />
          <br />
          <br />
          <img
            src="https://web.archive.org/web/20091027170048/http://www.geocities.com/scareyhalloween/jack-o-lantern.gif"
            style={{ width: "10vw", height: "10vw", marginLeft: "40vw" }}
          />
          <br />
          <br />
           Ava Hofmann is a trans woman poet living in Buffalo, NY, where she is
          a Ph.D. student at the University at Buffalo. She has two full-length
          books of poems,
          <i>[...]</i> with Astrophil press and <i
            >love poems / smallness studies</i
          > with Inside the Castle. She also edits SPORAZINE, a magazine of
          experimental writing written by trans people. Her website is <a
            href="https://nothnx.com/">nothnx.com</a
          >
        </section>
      </div>
    </div>
  </BaseLayout>
</html>
