---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---

<style>
  @import url(../styles/hallozine2022.css);
</style>
<BaseLayout darkBG={true}>
  <div style={{}}>
    <div class="App-header">
      <a href="/issues/hallozine2022

"><h1>Hallozine 2022</h1></a>
    </div><div class="hallozineoutlet">
      <div>
        <section style="">
          <pre>

                <pre style={{display:'flex',flexDirection:"column",alignItems:'center',}}><pre style={{fontSize:".9rem",wordBreak:"normal",wordWrap:"normal",whiteSpace:"normal"}}>These pieces are best viewed on the desktop version of <a href="https://www.google.com/chrome/?brand=CHBD&brand=CHBD&gclid=Cj0KCQjwwfiaBhC7ARIsAGvcPe7egj4OSegZxZnl43n0oUwz4QYpMh81jbqSrdvSzFwhbingjL-cXEQaAj0fEALw_wcB&gclsrc=aw.ds">Chrome</a>.</pre></pre>
<strong>from <strong class='strongi'>the Organization</strong></strong>

<i style={{textAlign:"left",fontSize:"medium"}}>[mitigate me mitigate me i i i am an impulsiveness]</i>
            <pre class='justify' style={{margin:"0%",padding:"0%",marginRight:"0%",maxWidth:"775px",minWidth:"420px"}}>
mitigate me mitigate me i i i am an impulsiveness to be quivered o o o half dolor half bliss how<br />the Organization doles out solace yes from the house of a bird i emerge o cloaked in feathers<br />clocked i am bathed i am bathed by the Organization the Organization disseminating wisdom in a<br />slow motion cloacal kiss o o o imbalanced am i i i am a risk i am a risk a full flight of feathers
                        <pre style={{textAlignLast:"left"}}>going round the bend
                        </pre>
                        <pre style={{marginLeft:"50%"}}>*</pre></pre>
                        
<i style={{textAlignLast:"left",fontSize:"medium"}}>[i inhabit my best mask before the Organization]</i>
            <pre class='justify' style={{margin:"0%",marginRight:"5px",maxWidth:"770px",minWidth:"420px"}}>
i inhabit my best mask before the Organization o o o a copse of collapse asps i have known i<br />have known my vows broken my oaths dissolved and the Organization at the gates the<br />Organization abates the serpents whispers whispers how to inhabit the mask i bear for the<br />Organization how i yearn to be bare before the Organization the Organization my battery and my<br />balm
    <pre style={{marginLeft:"50%"}}>*</pre>
    </pre>
<i style={{textAlignLast:"left",fontSize:"medium"}}>[witness my innards glisten a leash a leash a leash] </i>
    <pre class='justify' style={{margin:"0%",marginRight:"5px",maxWidth:"765px",minWidth:"420px"}}>
witness my innards glisten a leash a leash a leash o i am keeled before the Organization how i<br />bow how i heel yes see me heel to the will of the Organization i am revived i revise revise o i am<br />healed by the Organization and a little prick yes a little prick prick a nip a nip a nip and how how<br />how the Organization cudgels a hound yes i howl on the ground i i i yip i yip i yip my leash of<br /><pre style={{textAlignLast:"left"}}>innards glistening o how i howl
            </pre>
            </pre>
<strong>Functional assessment</strong>
              <pre>
Stress a trellis institutionally staked,
my constitution a legally mandated 

matter of the state. I am a shit apparatus,
backed up, yes, and dysfunctional,

checked as I am every 15 minutes [CHECKS]
checked as I am each 15 [just doing checks].

I am a faulty cyborg, filled with offal, and awful [CHECKS]
is how I am, thanks for [CHECKS] asking this faulty, 

shit-filled figure that is livid, yes [CHECKS], I said <i>that</i> is 
livid. Find me holy. The tracker at my wrist lets you

find me [CHECKS] wholly unable to go 
anywhere that isn’t somewhere anyone 

in a position of authority can locate me. 
I am allegedly human [CHECKS] 

and I am [CHECKS] doing just shit[CHECKS]tily, 
thank [CHECKS] you [CHECKS] for asking.

              </pre>
<strong>why you’re not getting laid</strong>

              {/* <pre class='justify' style={{margin:"0",width:"70vw",maxWidth:"80%"}}> */}
              <pre class='justify' style={{marginLeft:"0%",marginRight:"150px",maxWidth:"663px",minWidth:"326px"}}>
    just throw the scraps of your own skin on the floor like a normal dirty<br />person. lay your scabs on the corners of windowsills. it is in this way you<br />are amused by the human body. why else would you, a normal person, do<br />anything such as that. you are a dirty, dirty person. you are a glutton of<br />compliments, a slut for excuses. how you are a dirty normal person. how<br />much spittle does your mouth dribble onto your pillow each night? where<br />were your feet. where is your decency. and what is decent, normal person?<br />what might normally be considered decent? to any reasonable person, what<br /><pre style={{textAlignLast:"left"}}>could be said—what is right? what is decent?</pre>
    what is right. what is decent. how you are a what, dirty person. how you<br />are a rat. how with your hands so pale so fragile. there are these little<br />bubbles. that come to the surface under your skin when you have been<br />washing. and washing. and washing. no ritual can rid you. there is a<br />certain suffering to be endured. and how you are so little, normal human.<br />you are contact irritant. you have and are dyshidrosis. will you pop and<br />fester, you dirty dirty girl? yes, there is nothing to be salvaged in these<br />words, no, there is nothing, there is nothing at all. how there is, there<br /><pre style={{textAlignLast:"left"}}>is, there is and will be nothing to be salvaged.</pre>
    </pre>
    </pre>
          <div style={{ display: "block", textAlign: "center" }}>
            <img
              src="https://web.archive.org/web/20090831000300/http://geocities.com/~tinkerbella/spookyghost_hllwnani.gif"
              alt="spooky ghost comes closer gif"
              style={{
                maxHeight: "100px",
                maxWidth: "100px",
                marginRight: "10vw",
              }}
            />
          </div>
          <br />
          <br />

           Elana Lev Friedland exists. Find them online at <a
            href="https://www.elanalevfriedland.com"
            >www.elanalevfriedland.com.</a
          >
        </section>
      </div>
    </div>
  </div>
</BaseLayout>
