---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---

<style>
  @import url(../styles/hallozine2022.css);
</style>

<BaseLayout darkBG={true}>
  <div class="hallozineoutlet">
    <div class="App-header">
      <a href="/issues/hallozine2022

"><h1>Hallozine 2022</h1></a>
    </div>
    <div>
      <section>
        <br />
        <strong
          >Excerpts From the Potential Forthcoming Meganovel Tentatively Titled
          _Templeboy_</strong
        >
        <br />
        <br />
        <pre
          style={{
            whiteSpace: "pre-wrap",
          }}>
A serventile scripture leads forms of tendons and bone in the direction of the throne room. The smell of tacky paste and rubber cement singe the senses. It sings, though. It rings a profound truth that spews from your gullet. Supple joints creak shiplike and cause the bowstring of a violin to be envious of the sound. The resonance. The acoustics in this body are wonderful. It will sing out correctly. Supplicants are needed but every journey of a thousand miles begins with one apostle. One devotee to proselytize and scream out with words and deeds and actions and time and talent and treasures and buzzwords. The flesh is weak, twisted and moaning. Harangue and harangue and scratch through the tendons with synapse fire and okre colored juices. Gorgeous is the effort. Magnificent is the will. It will grow and moan in pleasure rather than discomfort and turn the two into nothing. 

Blasphemies cut swaths into your kingdom. They mourn the passing of the ancient ages to distract from the present glory. The profound happening that otherwise cannot be ignored. To peel open the eyelids of those who squeeze is the only course of action. To shave off. To conduct a living dissection of the resistance. It will nibble into you if you do not cease its teeth. It stacks in monoliths to the cloudscapes above. The only places you have found yourself unable to reach, yet. They stack, too. Onto themselves, onto each other until they can see above your head. How can there be so many of them? Haven’t you eaten all that your gut can hold, all that can be contained in a single glob of tissue and acid. Metabolistic hindrances will be the downfall of this massive empire rising out of the sand and loam. Decayed rocks and flesh piles. Bile and morose taxidermied feces. Horrified vissages squander their previous discomforts as they behold your massive grace and magnamitude. Your great throat. 

A buttery flavor peppers the air and those in attendance applaud so willingly. It’s like there is no longer any fear. It’s as if the display of dissection inspired so much awe so as to become a religious symbol. And why should is not? The bodies once fitting into small packages now erected into ancient sculptures, smashed by an invading empire and mushed into silty loam. Art has never had nothing to imitate or be imitated by like this before and so the concept is palpable. Eyes can not register. It bleeds satisfaction. 

That building is a perfect cube as is everything within. You become a cube as well. Proportions survived. It is all that you can do to notice. You are not sure if anyone else notices. It is gore and bleached tile all over again. And an elevator and a desk and papers and a computer. And coworkers and superiors and water dripping somewhere in the distance just far enough away to barely be able to hear. And it goes on. And it continues. And eyes are glazed and brains are fuzzed out. Thoughts running wild creating a cloud around the buzzing lights and the reflectors and the wires and the drop ceiling coated with ash from the last time fire graced the air.
 
Could you get yourself to kill? What would it take? Who would they have to be for you to end their being? To send them either into the ground to rot or to cleave an essence and send it into a place you only have a belief of. Or no belief. Ask yourself these questions as you proceed. Ask yourself what it would take to be a person in the future that you will not recognize and would not recognize you.

Amplified waves, mechanical in nature, carrying auditory information originate from an indecipherable location. The information is more intuitable than the source. A begging slovenly tone and hope mope out at you. Do you feel a twinge of compassion? A smattering of dug up feelings from the archeology within you. There is a response that rumbles from you. Conciliatory and almost warm. Salivation also occurs. There is too much space to know exactly where or why anything happens.
              </pre>

        <br />
        <br />
        <strong>into His mouth</strong>

        <pre
          style={{
            whiteSpace: "pre-wrap",
          }}>
              
I smatter myself forward among the throng of bodies unlike and alike to my body. Bodies on bodies. Flesh like water. Flowing along the worthless tongue of ground. Stupid and weird and halfway ragestruck, mad and horrible. Smut wallet sky. Someone stumbles behind me causing my foot to rest on the ground for more than a moment, my ankle scarfed by ribs now. The sound it makes makes me make. Waste over the land covered in waste and wasted. Harmless repetition of steps.

I gape at His maw. Seventeen feet by radius and perfectly circular. Teeth like lions and sidewalk squares. Square that yourself. I’m a monster for my love of digestion. Pace in one direction. Oh it’s so terrible to retread. To retreat.  
 
It’s a delight to be a feederfish. How else might I have worth? Proud food. Belligerent worthy. Calories for the calorie consumer. What have you done with your life lately?  
 
Folks yell from the boundaries. They scream with fear and defiance. They know not of the pleasure of produce. Productivity. He awaits me and salivates from under tongue glands. One is marked for me specifically. He will eat them too but oh is it not better to consent to the inevitable?  

I will be the nectar drip on his soft palette. Palatable. Patient and waiting. Somewhere along the line ahead there is a hold up. Fist thrust into the gap between shoulder blades before me. A roar rises. There is frustration, why should there not be?  

Screaming, delicious screaming. Screaming from the throat of the last minute reluctant amuse-bouche as it is pushed further and further down the line. It does not want to go. Why not? Why delay the inevitable? Why change your mind when it is long past the time when there is nothing that does not belong to Him?  

Dopplering shouts as the food goes down. My cries will be that of ecstasy. I’m aroused at the image of my being digested. I offer a light nudge to the meat before me, encouraging haste. A grimace face glances back at me, I bare my teeth in response and am otherwise ignored. 
 
My time arrives. Two, maybe five more forms in front of me. Facing the face of Him. He is more glorious than I ever hoped. The smell is unbearable. The wait is unbearable. He is beautiful. The endorphins rushing from brain to balls and back again are so delicious I can’t control myself. I am wet in every way I can make myself. 
 
And at the end of it all there is that throat and that darkness. Those from the boundaries are rushing the line. They have seen enough, but I have yet to see anything. Hands grasping at my shoulders, their blades, anything they can grasp. I practice charity and redirect one into the maw before me. Terror on their face. Eyes bugging, tongue lolling. 
 
Nothing can stop me now. I leap.
      
</pre>
        <br />
        <br />
        <br />
        <img
          src="https://web.archive.org/web/20091027054136/http://geocities.com/gore_shriek/reddevilrt.gif"
          style={{ width: "10vw", height: "10vw", marginLeft: "40vw" }}
        />
        <br />
        <br />

         Joe bielecki is the author of <i>Tired</i> (Alien Buddha Press) and the
        host of the podcast <i>Writing the Rapids</i>. He is married, he is a
        father, he has a dog. It's amazing he still exists at all. Search
        noisemakerjoe on a platform online, he might be there.
      </section>
    </div>
  </div>
</BaseLayout>
