---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---

<style>
  @import url(../styles/hallozine2022.css);
</style>

<BaseLayout darkBG={true}>
  <div class="hallozineoutlet">
    <div class="App-header">
      <a href="/issues/hallozine2022

"><h1>Hallozine 2022</h1></a>
    </div>
    <div>
      <section>
        <br />
        <strong> I Became Dead</strong>
        <pre
          style={{
            whiteSpace: "pre-wrap",
          }}>
                
I am at Jack’s funeral again, only this time it is the strangest environment—all white like we are in a giant refrigerator. Maybe it is the morgue, but there are folding chairs set out like there would be for a group to attend a service.
                
On one of the refrigerator doors instructions are written out in big black letters, including a symbol at the bottom that reminds me of playing cards. It includes instructions on how to handle the bodies, including prisoners. It is all very procedural, as it would be for the official handling of any dead body in our country.

I see Sam, but this time, instead of pulling me with him towards the front, he tells me I can sit wherever I want. The freedom is unnerving, all chairs are empty still.

I still decide to sit with him, and I still sit in the second row. A woman’s body, contorted and bloated, lays knotted with a dynamic rigor mortis like a cubist would paint. I am horrified by this honesty of the no longer alive.

<pre style={{display:'flex',flexDirection:"column",alignItems:'center',fontSize:"35px",overflow:"hidden",paddingTop:"5px"}}>♠</pre>

The dream came a week after I picked up a yoga nidra practice once again after many years, perhaps since 2010, which, now that I think of it, was a year before Jack died. It’s 2019 now.


In yoga nidra, which works effectively well, at least as I’ve experienced it, you remain in corpse pose for the entirety of a meditation. The meditation—which I’ve still yet to figure out how it works—lulls you into such a state of relaxation that causes all thoughts to stop while you continue to be awake. It is the consciousness behind consciousness that you remain in, I’ve heard referred to as soul body—six layers of being from our normal interactions with the world as force bodies.


Sometimes this is more relaxing than any experience in life—even sleeping—other times it feels like being buried alive, the feeling of sleep paralysis. Of somehow crossing in-between worlds, which is accurate. The brain is switching between two very different modes of operation.

<pre style={{display:'flex',flexDirection:"column",alignItems:'center',fontSize:"35px",overflow:"hidden",paddingTop:"5px"}}>♠</pre>

I hear a voice Hello, but it is a dead voice. I’ve interacted with Jack since he’s been dead, but in the eight years this is a markedly different encounter. This isn’t a light spirit, this is more real and embodied to the point that it makes me question what I’ve been doing in all of my previous spiritual receiving. Those were quick-moving abstractions that I could translate or channel—something that still gave me a feeling of control as the receiver. Now though, I do not feel like the receiver, the driver of this interaction. This is the dead, embodied, voicing out to me, to let me know.

In a way, things have reversed. As a living body, I don’t feel that I am necessary in this instance of meeting. I did not channel him because I did not need to. He was a real but still dead presence, one with weight. The shadows in my mind unnecessary, the parlor divining a game one plays over and over again until one is ready to open up to what feels like the truth. The dead are there whether we acknowledge it or not. Anything outside of that is resistance to the truth, to being. The fact is that there is so much infinite co-existing and co-mingling right now that we are cut off from, that we are not open to seeing. The separation is, in fact, an illusion. Time, a clumsy, feeble, fumbling, and falling apart partition. In the meditation, the divide between past alive and present dead seemed a flimsy silk dressing room screen with notable tears, and seams that no longer hold. Gossamer, like insect encasings freshly shed.

Poetry, seems to me, a way to honor those gaps and holes where the dead peek in like eager children spying on their mothers. Or perhaps it is the other way around. They are our guardians, and we, stupid children distracted by the limits of the sandbox when the ocean’s surf and shores surrounds.

But children are not stupid, and in fact, tend to talk to angels eagerly. How horrific would it be for us to do the same, really?

<pre style={{display:'flex',flexDirection:"column",alignItems:'center',fontSize:"35px",overflow:"hidden",paddingTop:"5px"}}>♠</pre>

I became dead. 


<pre style={{display:'flex',flexDirection:"column",alignItems:'center',fontSize:"35px",overflow:"hidden"}}><mark style={{verticalAlign:"middle",fontSize:"45px",backgroundColor:"red"}}>&nbsp;♠&nbsp;</mark></pre>

              </pre>

        <strong>MEAT EATER</strong>
        <pre>

The quote I inscribed
teenage walls in parent’s home—

“If you want a revolution 
return to your childhood
and kick out the bottom.” 

Excuse me sir, the revel ution
was not ordered
to shoot your adulthood out
(I take back your life, Levy, I take back everything un developed)

I walk with Levy amongst ruined cities&jazzalwaysjazz

Amongst the manic frenzy that running from cops brings

(Did you know a Mother could be a cop? Or a Manager? Or an Abusive Spouse? My God!)

Last night I wanted to kill myself, but tonight I want to be a meat eater

Thank god for guns not loaded and minds that do not sink into scenes like this one:

Beckett& Dostoevsky&Plath & hell, why not Audrey Hepburn too, she lived through the holocaust

they watch a scene where a wolf plots down the bird’s nest/a lion sinks teeth into some animal

that mates for life. And mourns.

Mourning, always mourning, I am mourning and grieving for things I can’t control.

I plan what happens if you die tomorrow and how I would attempt to preserve myself and fail

What is tender about this earth? That ducks mate for life and we shoot them anyways

I’ve seen manic mother chipmunks scream after their deceased young

(This is a point I can’t get over/can’t you see I can’t get over?)

Too bad that not being a meat eater

made me sick
              </pre>

        <br />
        <br />
        <img
          src="https://web.archive.org/web/20090820123358/http://geocities.com/gore_shriek/monk.gif"
          style={{ width: "10vw", height: "10vw", marginLeft: "40vw" }}
        />

        <br />
        <br />

         Laura Paul is a writer and multimedia artist. Her work has been published
        in <i>The Brooklyn Rail</i>, <i>The LA Review of Books</i>, <i
          >The Comics Journal</i
        >, <i>Dream Pop Journal</i>, <i>FIVE:2:ONE</i>, and others. Connect with
        her on Twitter and Instagram <a href="https://twitter.com/laura_n_paul"
          >@laura_n_paul</a
        > or her website <a href="https://www.laurapaulwriter.com"
          >laurapaulwriter.com.</a
        >
      </section>
    </div>
  </div>
</BaseLayout>
