---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---

<style>
  @import url(../styles/hallozine2022.css);
</style>
<BaseLayout darkBG={true}>
  <div class="hallozineoutlet">
    <div class="App-header">
      <a href="/issues/hallozine2022

"><h1>Hallozine 2022</h1></a>
    </div><div>
      <section>
        <br />
        <strong>love poem at night time</strong>
        <pre>

bodiless, removed from the sack
the skeleton of my husband on a metal table
a collection of things instead 
of the chemical grace that dozed
in my bed.
<br />
how can i say birthday cake? horror.
i wailed at the unsight of him, pulled
at my hair. uncanny&#8212; not so much the death
but the inversion / slimy with life still&#8212;
like flesh but a portal.
i could read his face in the skull and 
it devolved me.

  </pre>

        <br />
        <strong>haunted house poem</strong>
        <br />
        <br />
        <i>
          black sludge of the<br />
           night creeping grass<br />
           essentials which knock<br />
           me out of my boots<br />
           i say baby doll what else<br />
           needs to happen do<br />
           i need to electrocute<br />
           small animals the wind<br />
           the bones inside of my<br />
           shoes<br />
           the house on the hill<br />
           groans even when the<br />
           air is still<br />
           and i have no other<br />
           barrier no skin to cover<br />
           my intimates no flaps<br />
           for my ears the thin<br />
           skin of my eyelids<br />
           useless against it the<br />
           match strike<br />
           like halogen but <br />
           no glow no lamps<br />
           the radiators<br />
           the windows creak the<br />
           drapes shuffle against<br />
           the glass without my<br />
           hand to guide them<br />
           i feel no air have no<br />
           absolute despite<br />
           continuous <br />
           cars barreling down<br />
           the road will lullabye <br />
           the bog takes with it<br />
           each ear that settles its<br />
           bone upon the air i do<br />
           not know enough<br />
           about the devastated<br />
           teenagers congesting<br />
           my halls creatures <br />
           rubbing their sneakers<br />
           over the dour grain of <br />
           my floorboard i see<br />
           their fingerprints on<br />
           my tea cups weep<br />
           dream of needle<br />
           pierced ears for long<br />
           months afterwards<br />
           when i wake the drapes<br />
           around the bed have<br />
           shredded themselves<br />
           into ghouls clambour<br />
           loudly down the<br />
           hallways and i am<br />
           in danger i cannot<br />
           breathe without the<br />
           complete barrier<br />
           between my lungs and<br />
           the sludge of night<br />
           or air between my<br />
           burden and the bog<br />
           screeching with rot<br />
           outside the kitchen<br />
           door.<br />
        </i>
        <br />
        <br />
        <br />
        <strong>joy interior</strong>
        <pre>
    
my joy interior freckles 
my joy blows out its own brains on the front lawn so all the neighbors can see 
my joy interior secretly loves nylons & romance 
is romance 
my joy crowns on the hour, goes back into the closet like a cuckoo clock 
everyone shits in the closet like a cuckoo 
my husband fucks in the closet like a cuckoo 
i’ll fucking vape if i want to, i’m an adult 
darling, i’m sticking my finger in your eye because it gives me joy 
you with the pupils made of blue glass 
you’ve filled my body with blood and glass. 
i’m dying on the front lawn 
i’m crushed into asymptomatic bits. its 
relaxing. 

  </pre>

        <br />
        <img
          src="https://web.archive.org/web/20090829212629/http://geocities.com/evilgirl8p/halloween2_gif.gif"
          style={{ width: "12vw", height: "20vw", marginLeft: "40vw" }}
        />
        <br />
        <br />
         M. Forajter has often thought that with any luck at all she could have
        been born a werewolf, because the two middle fingers on both her hands
        are the same length, but she has had to be content with what she has.
        She dislikes washing herself, and dogs, and noise. She likes her sister,
        and Richard Plantagenet, and Amanita phalloides, the death-cup mushroom.
        Everyone else in her lit scene is dead.
      </section>
    </div>
  </div>
</BaseLayout>
