---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---

<style>
  @import url(../styles/hallozine2022.css);
</style>

<BaseLayout darkBG={true}>
  <div class="hallozineoutlet">
    <div class="App-header">
      <a href="/issues/hallozine2022

"><h1>Hallozine 2022</h1></a>
    </div>
    <div>
      <section>
        <br />
        <pre>
<strong class='strongi'> Our Hunger</strong>
          
We obsess about making babies. It is all we can think about, this self-propagation. To take the
best parts of each other, the proudest, smallest, waving telomeres, and combine them to fulfill
our biological imperative. We paint every room in pastel colors, in blushes, and then create new
rooms, just so we can paint them too. We are so hungry and so ready, so then we eat our babies.

We can’t help it. No one can help it. They are delicious. We make baby stir-fry with baby corn, 
baby carrots, baby bok choi, baby spinach, baby eggplant.  From cocktail swords our teeth 
envelope tender-sweet baby beets. We puree baby squash for soups and make baby breads from 
baby zucchini. We feast on lamb and veal. There’s enough to share, and so we share every day.

We roast and stuff a suckling pig, and as our drooling friends and family watch we carve off
cheery, fatty pieces. Luscious pieces for parents, and daintier, crispier pieces for friends. The
meat mugs for the camera: everyone loves it and encourages us to make more babies. We eat and
cry and eat some more, because we were so desperate to make a baby, and our baby is delicious.


<strong class='strongi'>Where the Bees Are Going </strong>
         
Their yards were full with clover, their gardens with wild flowers. Everyone in the town hummed
happily, from sunup to sundown.  It was true, what they said about the townspeople: they sang
with sweet, strong voices, but when they spoke, they wheezed. It was a slurred and syrupy
sound.
          
One rainy day, everyone in town felt a need to sing.  They turned their heads towards the sky,
and when they opened their mouths, bees poured forth and became furry, yellow-black, shifting
ropes of notes, respected by lightning, rising beyond the clouds.  Some townsfolk climbed their
ropes, never to be seen again.

The air was thick with pollen when the coroners arrived.  They found silent bodies filled not with
blood, but with honey.  Ah ha! said one of the coroners, as though he had just solved an ancient
riddle.  They sneezed as they cut samples of honeycomb from chests and put them into little jars.
          </pre>
        <br />
        <br />
        <br />
        <img
          src="https://web.archive.org/web/20090831072514/http://geocities.com/chantras/spooky/ShortSk.gif"
          style={{ width: "10vw", height: "10vw", marginLeft: "40vw" }}
        />

        <br />
        <br />

         Ori Fienberg's writing has appeared in <i>Artifice Magazine</i>
         [deceased],
        <i>BOAAT</i> [deceased], <i>Prose Poetry Project</i> [deceased], <i
          >Kill Author</i
        > [deceased], and <i>PANK</i> [deceased]. He is mostly made of bees.
        Thanks to <i>Sweet Wolverine</i> (now deceased) and <i
          >Mid-American Review</i
        > for originally publishing these pieces. Follow <a
          href="https://twitter.com/ArtfulHerring">@ArtfulHerring</a
        > for buzzing about poetry and politics.
      </section>
    </div>
  </div>
</BaseLayout>
