---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---

<style>
  @import url(../styles/hallozine2022.css);
</style>

<BaseLayout darkBG={true}>
  <div class="hallozineoutlet">
    <div class="App-header">
      <a href="/issues/hallozine2022

"><h1>Hallozine 2022</h1></a>
    </div>
    <div>
      <section>
        <br />
        <br />
        <pre
          style={{
            display: "flex",
            flexDirection: "column",
            alignItems: "center",
          }}> 
          <pre>
“Desire is absolute if the desiring being is
mortal and the Desired invisible.” Absolute,
and boundless because “it nourishes itself . . 
. with its hunger.” Each touch is always
interrupted before the encounter. I am on my
knees in the dirt or in bed or on humid wood
floors. You are above me. I am under you.
Pendulous belly, wide leafed plume poppy,
dreamy cardinal, engines at work, at their
edges they harbor <i>buh buh buh</i> uselessness.
          </pre>

          </pre>

         *

        <pre
          style={{
            display: "flex",
            flexDirection: "column",
            alignItems: "center",
            marginRight: "1.3%",
          }}>
whose heads are plugged into glands, and
whose tails wave from our oily wells, whose
gift of faces buried in and eating from other
faces is the love of life
          </pre>

         *

        <br />
        <br />
        <pre>
for me particularly
to be prone and filled up with vegetation

to have the same diseases that plants have 

to be wearing a tasseled mask that is aroused by the sun 
          </pre>

         *
        <br />
        <br />
        <pre>
making a host 
          
“all springtimes past”

buried in this face making this kind of piss

with everything: “a projected interior” 

a vector that flowers
          </pre>

         *
        <br />
        <br />
        <pre>
asleep
          
          
          
there it is <i>ah</i>
erupting again 

two worms fighting in the dusk

chimes 

are like a gland 
that opens the lily

inside of the groaning statuary

heavy porous sleep
one circle of blue worms

I am easy to cut like a resin

I drink the plant’s piss

          </pre>
        <br />
        <br />
        <img
          src="https://web.archive.org/web/20090808000042/http://www.geocities.com/dr_pronk/skulltalkk.gif"
          style={{
            width: "10vw",
            height: "10vw",
            maxWidth: "100px",
            marginLeft: "40vw",
          }}
        />
        <br />
        <br />

         Philip Sorenson is the author of four collections of poetry: <i
          >Of Embodies</i
        > (Rescue Press, 2012), <i>New Recordings</i> (Another New Calligraphy,
        2018),
        <i>Solar Trauma</i> (Rescue Press, 2018), and <i>Work Is Hard Vore</i>
         (Schism Neuronics, 2020). He teaches and lives in Chicago.
      </section>
    </div>
  </div>
</BaseLayout>
