---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---

<style>
  @import url(../styles/hallozine2022.css);
</style>

<BaseLayout darkBG={true}>
  <div class="hallozineoutlet">
    <div class="App-header">
      <a href="/issues/hallozine2022

"><h1>Hallozine 2022</h1></a>
    </div>
    <div>
      <section>
        <strong>Tricks of the Rind</strong>
        <br />
        <pre
          style={{
            wordBreak: "normal",
            wordWrap: "normal",
            height: "100%",
            width: "90vw",
            overflow: "auto",
            whiteSpace: "normal",
          }}>
          <br />My hand recoils as I reach for the fruit bowl. The mini watermelon, which I
brought home from the farmer’s market yesterday, has sprouted a patch of
short, coarse hairs. They are dark and close to the surface, like the high
and tight my cousin came home with after basic training. The gala apples
and navel oranges seem repelled from this pubescent melon; nothing else
touches its surface, as though it’s covered in an invisible film. My hunger
flees like an escaped convict, but my curiosity is piqued. With an index
finger, I lightly buzz the rind; it’s deceptively soft, more like a newborn
baby down than the stubble I expected. There is a sizeable portion left
bare and striped green; I stroke it, expecting the give of face
flesh, but it’s still cool, inscrutable. My eyes play tricks where
sometimes, the melon seems to breathe, just slightly, sighing at its rim. I
think suddenly of eggs, and scoop it into my hands. A few hairs catch at
the dry calluses on my palms. It feels like rubbing velvet in the wrong
direction, and I gag.
<br />
<br />
I bring the melon into the bathroom and set it in the sink so I can
undress. I start the bath, testing with a toe to make sure it’s warm, not
my typical steam heat. I cradle the melon to my stomach; it accidentally
rubs against a nipple and repulsion ripples through me. Still, I sink us
both into the bath. An instinctive tugging tells me to keep it at a
comfortable temperature. I let it float at the water’s surface for a minute
as I try to tug a cogent thought from my addled mind, but nothing fits <i>fruit suddenly takes on human qualities</i>. I establish that I can’t (won’t)
eat it, but beyond that, logic flings itself off of a precipice. So I reach
for the shampoo bottle. I suds my strands and submerge, toeing the
watermelon to the other end of the tub for minimal contact. The water
covering my face calms me. I come up for air and grab the melon, gently
start rubbing shampoo into its bristles with my fingers. <strong><i>Hmmmmmm.</i></strong> A low,
quiet sigh emerges from the rind, though I can see no hole or fissure.
Water splashes out of the tub in gurgling waves as I push the melon away
from me. The sound stops, but doesn’t; the alien note is retained in my
brain, replaying. I shiver, half from my torso being exposed to the air,
half from the uncanny sound. The melon has listed on its side so that the
hair points towards me like mold eating its rotten findings. I steel
myself, palm the fruit, and push it to the bottom of the tub. Through the
milky shampoo residue, a small bubble grows and pops. Then another. Soon a
steady onslaught, the bubbles growing in size, popping violently, even as
the melon beneath my grip does not move. At the edge of my memory, a
snapshot: my step-brother with the heel of his hand on my cheekbone,
holding my face against the carpet. I can smell cat piss in the fibers. A
small hair a few inches away dances with my ragged exhalations. One arm is
pinned beneath my chest and starting to fall asleep. The seconds stretch
long as taffy before he leaves.
<br />
<br />
And then I vomit into the bath, snap back. My mouth expels a steady stream
of black seeds. They taste bitter and bruise my throat as they’re expelled.
They float on the surface like the ants I used to drown in bowls of soapy
water to appease my mother, forever trying to scrub them out of the corners
of our kitchen. My stomach clenches and unclenches, forcing everything from
me until I’m left with a small strand hanging from my lip, the consistency
of egg whites. I don’t bother to wipe my mouth, simply stand up and let the
whole mess of seeds and spittle and suds and water drip from my breasts and
stomach and limbs. Nothing rises to the surface of what’s left, and I don’t
bother to unplug the tub, just step out and let myself leak onto the bath
mat, a puddle of expulsion forming around my naked feet. And all I can
think of is the two clean marks I will leave behind, two unspoiled spots
amidst the aftermath.
          </pre>
        <br />
        <br />
        <br />
        <img
          src="https://web.archive.org/web/20090902002637/http://www.geocities.com/redondoguy2001/Halloween/pumpkins_lighted.gif"
          style={{ width: "10vw", height: "10vw", marginLeft: "40vw" }}
        />

        <br />
        <br />
         Quinn Rennerfeldt is a queer poet, parent, and partner earning her MFA
        at San Francisco State University. Their heart is equally wed to the
        Pacific Ocean and the Rocky Mountains. Her poetry can be found in <i
          >Cleaver, Mom Egg Review, SAND, elsewhere,</i
        > and is forthcoming in <i>A Velvet Giant</i> and <i>Salamander</i>.
        They are the recipient of the 2022 Harold Taylor Prize, sponsored by the
        Academy of American Poets. Her chapbook <i>Sea Glass Catastrophe</i> was
        released in 2020 by Francis House Press. They are the Editor-in-Chief of


        <i>Fourteen Hills</i>, a graduate-run literary journal with SFSU. This
        is her first official fiction publication.
      </section>
    </div>
  </div>
</BaseLayout>
