---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---

<style>
  @import url(../styles/hallozine2022.css);
</style>

<BaseLayout darkBG={true}>
  <div class="hallozineoutlet">
    <div class="App-header">
      <a href="/issues/hallozine2022

"><h1>Hallozine 2022</h1></a>
    </div>
    <div>
      <section>
        <br />
        <strong>i want to tell you about the mountain</strong>
        <pre>

in the dark i see them before they leave
&nbsp;                             every boy in my town
         
born with river whispering
&nbsp;                             soft and sweet
         
their faces           eyes set in and dark
         
         
we used to watch them by the river
&nbsp;                every son called forward one by one
pulled by the thing in them
&nbsp;                              that knowing
         
some deep river call
some inescapable need to prove
         
&nbsp;              the boys in our town fade into men
         
we watch them at the river
         
we see them disappear
         <br />
         <br />
<strong>when my boy died i couldn’t let go of anything</strong>
         <pre>
the first time i saw a dead boy i hardly noticed
he was a shadow of a shadow      half visible and doe soft

eventually i saw them everywhere
dying boys all across the lawns and highways

the churches and schools    jostling about 
bumping each other gently    and murmuring

always murmuring
<i>my   there   can you   wait   wait</i>

sometimes i tried to listen and sometimes i didn’t
let the words  float past me    into the telephone wires

and contrails    past the geese flying south
<i>away     away</i>

at first, i could let them go     they didn’t hold me
and i didn’t hold them
 
 just let them drift 
          
&nbsp;                                              then my boy died
          </pre>
          
             </pre>
        <strong>excerpt from <strong class="strongi">O Body</strong></strong>
        <br />
        <br />
        <br />
        <img
          src="https://drive.google.com/uc?export=download&id=1UjOMadndxAUT0SDjv1jmP7oJA5IVb8Ey"
        />

        <br />
        <br />
        <br />
        <img
          src="https://drive.google.com/uc?export=download&id=1x6Tu1HFsAfOcNKrW_tPavt1qgdQ-drsP"
        />

        <br />
        <br />
        <br />
        <img
          src="https://drive.google.com/uc?export=download&id=1FdT1z_JcV8LkM1cYq5N1v8ss5rHUp7Vn"
        />

        <br />
        <br />
        <br />
        <img
          src="https://web.archive.org/web/20090822002708/http://geocities.com/ampproductions_halloween/DarkSorcerer3.gif"
          style={{ width: "15vw", height: "20vw", marginLeft: "37vw" }}
        />
        <br />
        <br />
         R Daniel Brown is the poet laureate of every crop circle in Ohio.
        Recent or upcoming work can be found in <i>Boston Review</i>, <i
          >Apogee</i
        >, <i>VIDA Review</i>, <i>Cosmonauts Avenue</i>, and others. They're the
        author of the microchapbook, <i
          >Dear John, Love Letters to John Connor…</i
        > (Ghost City Press, 2018). You can usually find them on twitter, <a
          href="https://twitter.com/rdanielbrown">@rdanielbrown</a
        >.
      </section>
    </div>
  </div>
</BaseLayout>
