---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---

<style>
  @import url(../styles/hallozine2022.css);
</style>

<BaseLayout darkBG={true}>
  <div class="hallozineoutlet">
    <div class="App-header">
      <a href="/issues/hallozine2022

"><h1>Hallozine 2022</h1></a>
    </div>
    <div>
      <section>
        <br />
        <strong> &lt;roadside demeanor&gt;</strong>
        <pre>

cracked champagne crawl across
the garden (gorgeous) to a chapteric end
she was understood like a crowded house
stinking + warm	         loud + heavy
haunted cellarbound 

swallowing every wildflower at ankle height
her roadside demeanor carried a lascivious promise
of enrobed kings or favored secrets
fluffy lichen growing in patches
&nbsp;     just below her redeemed chin
mysteries // indeterminate eyes she
makes thunderbolts from age + experience
effortless skywonder glittering from 
pressureheat + youth

her liquid cage
appears as irony or a devil in a onesie (ugly drunk)
bony experts entice nerves w/ status updates +
the fennel stuffed beneath skin

sweet future hissing from a crack in the sofa
the base of her neck sings w/ strange tones
insisting on lip or whittled contact
bright suckling reveals vermillion treasure
buried by time + the great inexhaustible sea

damp against fingerpads but heavy at the cuff
she rises among seawillows to sway
lefthanded stars brightening the skyway
          </pre>

        <br />
        <br />
        <strong>&lt;new dress&gt;</strong>
        <pre>
            
heavy cloak fringed to my outlandish cuff
my face like a denim leg
cradle my enthusiasm like a precious
baby locked in disorder
&nbsp;		          booted
i learn lefthanded piano the way
the old gods intended
&nbsp;		          beautiful
&nbsp;		          eyeless
&nbsp;		          nervously
&nbsp;                         alone
i wear leylines as shoelaces
each powerful contact the type of madness
only fingernails made of sugar would agree upon
short		  unchlorinated
i imagine twilight as screaming
natural urgency over candlelight like
perfect areola glinting past retinas
my beard burns the sides of my cheeks
a completed collection of jewelry
&nbsp;		          (for lovers)
awaits pricetags + other human borings

place the jewels in my shorthairs +
galaxy it forward
shadows smoking in relief hours after
the illuminated arm of my sleeve
billowed high + away

          </pre>

        <br />
        <br />
        <img
          src="https://web.archive.org/web/20091027170027/http://www.geocities.com/scareyhalloween/smokeyghost.gif"
          style={{ width: "10vw", height: "10vw", marginLeft: "40vw" }}
        />

        <br />
        <br />
         Sara Matson (she/her) has poetry in <i
          >Bone Bouquet, Impossible Task, Ghost City Press,</i
        > and elsewhere. Sara’s full-length book of poetry <i
          >&lt;personal fashion&gt;</i
        > was published by swallow::tale press and her chapbook, <i
          >electric grandma</i
        > is available from Another New Calligraphy. Sara’s pop culture chapbook
        of DVD poems, <i>Special Features</i>, is forthcoming from Alien Buddha
        Press. She lives in Chicago where she Tweets as <a
          href="https://twitter.com/skeletorwrites">@skeletorwrites</a
        >. More of Sara’s poetry can be found at <a
          href="https://neutralspaces.co/saramatson/"
          >neutralspaces.co/saramatson</a
        >
      </section>
    </div>
  </div>
</BaseLayout>
