---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---

<style>
  @import url(../styles/hallozine2022.css);
</style>

<BaseLayout darkBG={true}>
  <div class="hallozineoutlet">
    <div class="App-header">
      <a href="/issues/hallozine2022

"><h1>Hallozine 2022</h1></a>
    </div><div>
      <div>
        <section>
          <br />
          <strong>Abortion w/ Found Bruise</strong>
          <pre
            style={{
              display: "flex",
              flexDirection: "column",
              alignItems: "center",
            }}>
          <pre class='justify' style={{fontSize:"medium",width:"70%",maxWidth:"390px"}}>
        <br />
<i>I woke up this morning and was</i> a contusion or
<i>pregnant so I looked for</i> hematoma of tissue <i>knitting
needles</i> allowing blood to seep <i>I tried to dilate</i>
hemorrhage or extravasate <i>myself</i> bruises <i>I picked up
his dry cleaning</i> do not blanch <i>got a wire hanger</i> are
caused by internal bleeding <i>I’m ready for my Mommie
Dearest moment</i> at the level of the skin<i> what gowns
I’d wear</i> initiated by blunt trauma<i> for you</i> causing
damage through <i>and each of paper </i>compression <i>I
counted the poisons under the sink last night</i> small
bruises <i>read yesterday’s Glamour</i> are not normally
dangerous alone <i>spent some time being a living thing
</i>during an autopsy, bruises a body indicate the
abrasions occurred while <i>like a swamp </i>the individual
was alive <i>wants to be drained</i> shapes may correspond
<i>with suction</i> to the instrument of injury <i>and whirring
</i>it often becomes more prominent <i>I start at one
hundred</i> as time lapses <i> count back</i> may grow large
<i>suddenly remembering the phrase</i> different<i> “necrotic
bowel”</i> allowing blood to travel <i>I think it means</i> due to
<span style={{textAlignLast:'left',textAlign:'left', paddingRight:'40%'}}>the gravity of other forces <i style={{fontSize:'medium'}}>death</i></span>       
        </pre>
    </pre>
          <strong>Hermosa</strong>
          <pre
            style={{
              display: "flex",
              flexDirection: "column",
              alignItems: "center",
              justifyContent: "center",
              fontSize: "medium",
            }}>
          <pre style={{whiteSpace:"pre-wrap",margin:"20%",marginTop:"5%",marginBottom:"0%", fontSize:'medium'}}><div class="hang">Once, because I was in bad love, I rode to the end of Lake Michigan & back, or 60 miles.</div>
<div class="hang">Returning to my apartment in Hermosa, I ran a cold shower & drank 80oz of King Cobra.</div>
<div class="hang">That was the night of the party where the host was robbed at gun point an hour after I left, my blood gold & bubbly as champagne.</div>
<div class='hang'>That was the night I met my new abuser. Punching my number into his phone, I spelled my name <i style={{fontSize:"medium"}}>A-f-t-e-r-g-l-o-w.</i></div> 
<div class='hang'>Last summer, I traded my throat chakra choker for red coral from a witch to keep incubuses away.</div>
<div class='hang'>I kept it under my pillow, but once every 10 days I texted <i style={{fontSize:"medium"}}>Please fuck me</i> to a pentagram & took 25 mg of melatonin to fall asleep.</div>
<div class='hang'>A handsome man appeared in my dreams. His white silk like man milk. His body like a widow’s.</div>
<div class='hang'>At the end of my closing shift at the bookstore one night, my manager’s husband cornered me with a question about his wife.</div>

<i style={{fontSize:"medium"}}>Why can’t she seem to get along with anyone?
</i>
<div class='hang'>He kept solo cups of sour wine in his file cabinets.</div><br />
<div class='hang'>I felt like I couldn’t go home ever again, so I rode my brown Bayside until I reached the 6-cornered star at the intersection of Cicero & Irving Park.</div><br /> 
<div class='hang'>The 3-storey buildings melted into 1-storey houses, pale aluminum siding in yellow or blue. The sun dipped itself into the purple cream of low clouds; <i style={{fontSize:"medium"}}>The Joy of Losing Weight</i> tinned in my earbuds.</div><br />
<div class='hang'>That road is named Milwaukee because it goes northwest into Wisconsin and I thought of going all the way.</div>

<div class='hang'>I kept going after that but I stopped reading street names.</div>
 
</pre>
        </pre>
          <br />
          <img
            src="https://web.archive.org/web/20091027103516/http://geocities.com/halloweengirl2000/axeguy.gif"
            style={{ width: "10vw", height: "10vw", paddingLeft: "30vw" }}
          />
          <br />
          <br />
           Stephanie Lane Sutton was born in Detroit. Her writing has appeared
          in
          <i>Black Warrior Review</i>, <i>The Offing</i>, and <i>Rhino Poetry</i
          >, among others. She is the author of the micro-chapbook <i
            >Shiny Insect Sex</i
          > (Bull City Press) and has a creative writing MFA from the University
          of Miami. She makes live interactive poetry on Twitch as <a
            href="https://www.twitch.tv/athenasleepsin">@AthenaSleepsIn</a
          >.
        </section>
      </div>
    </div>
  </div>
</BaseLayout>
