---
import BaseLayout from "../layouts/BaseLayout.astro";
const status = "open";
---

<style>
  h1 {
    font-size: medium;
  }
  main {
    padding: 1rem;
    text-align: center;
    width: fit-content;
  }
  .description {
    text-align: left
    letter-spacing: 0.025rem;
    margin: 2rem;
  }
  .status {
    display: inline-block;
    animation: jumping 2s infinite ease-in-out alternate-reverse;
  }
  .open {
    color: green;
  }
  .closed {
    color: black;
  }

  @keyframes jumping {
    0%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-0.5rem);
    }
    75% {
      transform: translateY(0.5rem);
    }
  }
</style>
<BaseLayout>
  <p>submissions</p>
  <h1>
    Cloaca Mag is currently <span
      class:list={["status", status === "open" ? "open" : "closed"]}>OPEN</span
    > for submissions:
  </h1>
  <main>
    <section class="description">
      <p class="description">
       We are currently open for submissions for our Spring 2025 online issue. <br>
       If you would like to be considered for it, please email <i>cloacamag@gmail.com</i>.<br> All genres welcome.
  
      </p>
      <p class="description">
      If you would like to be considered for physical releases, such as zines or pamphlets, <br>
      you can submit your longer work to cloacamag@gmail.com. <br>For zines, we pay a small honorarium ($50) and provide complimentary copies.
      </p>

      <p class="description">
      If you want a free copy of our first zine,&nbsp;<i>Horsie</i>, email us your mailing address.<br>
      We're always up for zine trades too!
      </p>
    </section>

    <section>
      Send your words/images/videos/games/comics to :
      <address>cloacamag@gmail.com</address>
    </section>
  </main>
</BaseLayout>
