<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
    <title>Cloaca Mag</title>
  </head>
  <body>
    <ul>
      <li>
        <a href="/issues/hallozine2022

">Halloween 2022</a>
      </li>
    </ul>
  </body>
</html>
