---
import "./styles/hallozine2022.css";
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout hasFooter={false} darkBG={true}>
  <div>
    <div class="App-header">
      <h1>Hallozine 2022</h1>
    </div>
    <div class="hallozineoutlet"></div>
    <img
      src="https://web.archive.org/web/20090808185522/http://www.geocities.com/halloween2001tesla/ANIcastleL_.gif"
      class="hallozineimage"
    />

    <div class="hallozinelanding">
      <ul class="hallozinelanding">
        <li>
          <a href="hallozine2022

/pieces/Philipsorenson">Philip Sorenson</a>
        </li>
        <li><a href="hallozine2022

/pieces/Elf">Elana Lev Friedland</a></li>
        <li><a href="hallozine2022

/pieces/Avahofmann">Ava Hofmann</a></li>
        <li><a href="hallozine2022

/pieces/Mforajter">M. Forajter</a></li>
        <li>
          <a href="hallozine2022

/pieces/Stephanielanesutton"
            >Stephanie Lane Sutton</a
          >
        </li>
        <li><a href="hallozine2022

/pieces/Saramatson">Sara Matson</a></li>
        <li>
          <a href="hallozine2022

/pieces/Quinnrennerfeldt">Quinn Rennerfeldt</a>
        </li>
        <li><a href="hallozine2022

/pieces/Joebielecki">Joe Bielecki</a></li>
        <li><a href="hallozine2022

/pieces/Ashelyadams">Ashely Adams</a></li>
        <li><a href="hallozine2022

/pieces/Simonbrown">Simon Brown</a></li>
        <li><a href="hallozine2022

/pieces/Laurapaul">Laura Paul</a></li>
        <li><a href="hallozine2022

/pieces/Rb">R. Daniel Brown</a></li>
        <li><a href="hallozine2022

/pieces/Orifienberg">Ori Fienberg</a></li>
      </ul>
    </div>
  </div>
</BaseLayout>
